<div class="mx-auto" style="width: 600px;">
<h3>ホーム</h3>

<% if current_user %>
  <%= form_with model: current_user.tweets.build do |f| %>
    <%= f.text_area :content, class: 'tweet_text_area', id: 'tweet_text_area' %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= f.submit('投稿', class: 'btn btn-raised btn-primary tweet_submit') %>
    </div>
  <% end %>
    <% if current_user.feed.any? %>
      <div id='append_tweet'></div>
      <%  current_user.feed.each do |tweet| %>
        <div class="card" >
          <div><%= tweet.user.email %></div>
          <p class="card-text"><%= tweet.content %></p>
          <div id="like-<%= tweet.id %>">
          <%= render 'tweets/like', tweet: tweet %>
          </div>
        </div>
      <% end %>
  <% end %>
<% end %>
</div>
