<div class="mx-auto" style="width: 600px;">
<h3><%= current_user.email %></h3>

<span class="following_count">
  <a href=<%= following_user_path(current_user) %>>
  <%= current_user.following.count %>
  フォロー中
  </a>
</span>

<span class="follower_count">
  <a href=<%= followers_user_path(current_user) %>>
  <%= current_user.followers.count %>
  フォロワー
  </a>
</span>

<% if current_user %>
  <% if current_user.my_tweets.any? %>
    <%  current_user.my_tweets.each do |tweet| %>
      <div class="card" >
        <div><%= tweet.user.email %></div>
        <div class="card-text"><%= tweet.content %></div>
        <div id="like-<%= tweet.id %>">
          <%= render 'tweets/like', tweet: tweet %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
