<h1>MyPage</h1>

<div>
  <a href=<%= following_user_path(current_user) %>>
  <%= current_user.following.count %>
  following
  </a>
</div>

<div>
  <a href=<%= followers_user_path(current_user) %>>
  <%= current_user.followers.count %>
  followers
  </a>
</div>

<% if current_user %>
  <%= form_with model: current_user.tweets.build do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit %>
  <% end %>
    <% if current_user.feed.any? %>
    <ul>
      <div id='append_tweet'></div>
      <%  current_user.feed.each do |tweet| %>
        <li>
          <div><%= tweet.content %></div>
          <div><%= tweet.user.email %></div>
          <div id="like-<%= tweet.id %>">
          <%= render 'tweets/like', tweet: tweet %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
