<h1>こんにちは、<%= current_user.username %>さん</h1>

<div>
  <a href="<%= '/following' %>">
    <strong id='following' >
      <%= current_user.following.count %>
    </strong>
    フォロー
  </a>

  <a href="<%= '/followers' %>">
    <strong id='followers' >
      <%= current_user.followers.count %>
    </strong>
    フォロワー
  </a>
</div>


<% if current_user.tweets.any? %>
  <ul>
    <% current_user.tweets.each do |tweet| %>
      <li><%= tweet.content %>  <%= link_to '削除', tweet_path(tweet), method: :delete %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @tweet, local:true do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit %>
<% end %>

<%= link_to 'トップページ', root_path %>
<%= link_to 'ユーザー一覧', users_path %>
