<h1>Pages#show</h1>
<p>Find me in app/views/pages/show.html.erb</p>

<h1>こんにちは、<%= current_user.username %>さん</h1>
<p>ユーザー用ページです。</p>

<%= link_to current_user.following.count, '/users/following' %>
<%= link_to current_user.followers.count, '/users/followers' %>


<% if current_user.tweets.any? %>
  <ul>
    <% current_user.tweets.each do |tweet| %>
      <li><%= tweet.content %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @tweet, local:true do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit %>
<% end %>

<%= link_to 'トップページ', root_path %>
