<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>

    <% if @projects %>
      <% @projects.each do |project| %>
          <%= project.title %>
          <%= project.date_of_created %>
          <%= project.date_of_updated %>
          <%= link_to '開く', project_path(project) %>
          <%= link_to '編集', edit_project_path(project) %>
          <%= link_to '削除', project_path(project), method: :delete %>
        <ul>
          <% project.todos.each do |todo| %>
            <li><%= todo.content %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </tbody>
</table>
