<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script>
    function showClock() {
    var date = new Date();
    var hour = date.getHours();
    var min = date.getMinutes();
    var sec = date.getSeconds();
    document.getElementById('display_time').textContent
      = "現在の時刻は" + hour + " 時 " + min + " 分 " + sec + " 秒 ";
    }

    setInterval('showClock()', 1000)
    </script>

    <div class='app'>
    <header class='menu'>
    <% unless user_signed_in? %>
      <%= link_to '新規登録', new_user_registration_path %>
      <%= link_to 'ログイン', new_user_session_path %>
    <% else %>
      <div class='menu-icon'>
        <%= link_to root_path, {class: 'btn btn-primary bmd-btn-icon'} do %>
          <i class="fas fa-home"></i>
        <% end %>
      </div>

      <div class='menu-icon'>
        <%= link_to pages_mypage_path, {class: 'btn btn-primary bmd-btn-icon'} do %>
          <i class="fas fa-user-circle"></i>
        <% end %>
      </div>

      <div class='menu-icon'>
        <%= link_to users_path, {class: 'btn btn-primary bmd-btn-icon'} do %>
          <i class="fas fa-users"></i>
        <% end %>
      </div>

      <div class='menu-icon'>
        <%= link_to(destroy_user_session_path, method: :delete, class: 'btn btn-primary bmd-btn-icon' ) do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </div>
    <% end %>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
    <div id="display_time", class="display_time"></div>
    </div>
  </body>
</html>
